name: Instagram Auto Poster

on:
  schedule:
    - cron: '0 */4 * * *'  # Har 4 ghante mein chalega (UTC time)
  workflow_dispatch:      # Manually run karne ke liye button bhi dega

jobs:
  run_bot:
    runs-on: ubuntu-latest
    
    # Permission chahiye taaki hum last_video.txt update kar sakein
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Script
        env:
          INSTAGRAM_USERNAME: ${{ secrets.INSTAGRAM_USERNAME }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python main.py

      - name: Commit and Push Changes (Save Memory)
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"
          git add last_video.txt
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update last video" && git push)
